.btn-hidden {
    opacity: 0;
    background: rgb(2,0,36);
    background: linear-gradient(68deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 100%);
}

body {
    background: rgb(253,213,29);
    background: linear-gradient(90deg, rgba(253,213,29,1) 20%, rgba(69,252,238,1) 80%);
}